@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  cursor: none;
  user-select: none;
}

html {
  height: 100%;
}

body {
  background: rgb(255, 254, 244);
  background: -moz-linear-gradient(127deg,
      rgba(255, 254, 244, 1) 0%,
      rgba(185, 178, 178, 1) 57%,
      rgba(50, 50, 43, 1) 100%);
  background: -webkit-linear-gradient(127deg,
      rgba(255, 254, 244, 1) 0%,
      rgba(185, 178, 178, 1) 57%,
      rgba(50, 50, 43, 1) 100%);
  background: linear-gradient(127deg,
      rgba(255, 254, 244, 1) 0%,
      rgba(185, 178, 178, 1) 57%,
      rgba(50, 50, 43, 1) 100%);

  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fffef4", endColorstr="#32322b", GradientType=1);

  width: 100vw;
  height: 100%;

  background-repeat: no-repeat;
  background-attachment: fixed;

  line-height: 0.5rem;
  color: white;
  -webkit-text-stroke: 1.5px black;
  text-shadow: 2px 2px 2px #000;
  font-size: 1.5vw;

  display: grid;
  grid-template-columns: repeat (4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    ". . . ."
    ".  items items . "
    ". . . ."
    "footer footer footer footer";
}

header {
  grid-area: header;

  display: flex;
  justify-content: space-between;
  align-items: start;
  // border: 1px solid purple;

  div {
    margin: 2vw 2vw 0 2vw;
  }

  .title-right {
    text-align: right;
    color: yellow;
  }
}


.container {
  grid-area: items;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 2vw;
  // border: 1px solid red;
  max-width: 90vw;

  place-content: space-around;
  place-items: center;

  .item {
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;

    // border: 1px solid black;
    img {
      max-width: 150px;
      max-height: 150px;
      object-fit: cover;
      display: block;
      // border: 1px solid green;
    }

  }
}

.blur-outer-wrap {
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  background: #fff;
  display: grid;
  place-items: center;
  border-radius: 50%;
  filter: blur(20px);
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: 1;

  .blur {
    width: 20px;
    background: #fff;
    height: 20px;
    border-radius: 50%;
    filter: blur(1px);
  }
}

.grow-cursor {
  transform: scale(1.75);
}

.grow-image {
  transform: scale(1.25);
}

footer {
  grid-area: footer;
  font-size: 0.75vw;
  width: 100vw;
  border: 1px solid green;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .enter-back>div,
  .options>div {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #000;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    font-size: 2vw;
  }

  .enter-back {
    padding: 0 2rem;
    border: 1px solid yellow;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .enter {
      padding: 0 2vw 0 0;
    }

    >.btn {
      margin-right: 0.75rem;
    }

    .btn.x {
      color: #03a9f4;
    }

    .btn.o {
      color: #ef5350;
    }
  }

  .options {
    max-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 2vw;

    .btn.triangle {
      color: #8bc34a;
      margin-right: 12vw;
    }
  }
}


@media screen and (max-width: 1200px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  body {
    font-size: 2.5vw;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 2rem;
    grid-gap: 3vw;
  }
}
















// a
//   color: #72C29B
//   text-decoration: none

//   &:hover
//     color: #60AA85

// ul
//   list-style-type: disc

// ol
//   list-style-type: decimal

// ul, ol
//   margin-left: $marginSize

// ul.unstyled,
// ol.unstyled {
//   list-style-type: none;
//   margin-left: 0;
//   padding: 0;
// }
// header
//   	grid-area: header;

// 	display: flex;
// 	justify-content: space-between;
// 	align-items: start;

//   a
//     color: #666
//     font-size: 2.5em

//     &:hover
//       color: #333

// h1, h2, h3, h4, h5
//   font-family: #{"{{ theme.header_font | font_family }}"}

// div.wrap
//   display: table
//   width: 100%

// aside
//   border-right: $border
//   display: table-cell
//   padding-right: $marginSize
//   width: 20%

//   section
//     margin-bottom: 1.5em

//   ul
//     margin-bottom: 1.5em
//     margin-top: 0

//     li
//       margin-bottom: .3em

//       a
//         color: #999
//         font-size: .9em

//         &:hover
//           color: #333

//   cite a
//     background: url(#{"{{ 'badge.png' | theme_image_url }}"}) no-repeat
//     border: none
//     display: block
//     height: 23px
//     overflow: hidden
//     text-indent: 100%
//     width: 79px
//     white-space: nowrap

// section.content
//   display: table-cell
//   padding-left: $marginSize
//   width: 80%

// form
//   li
//     margin-bottom: 1.2em

//   label
//     display: block
//     margin-bottom: .2em

//   input,
//   textarea
//     border: 1px solid #ddd
//     padding: 5px
//     width: 350px


.errors {
  border-top: 1px soldi #A65A5A;
  margin-bottom: 3em;

  li {
    background: #D97576;
    border-bottom: 1px soldi #A65A5A;
    color: #fff;
    padding: 3px 10px;
  }
}