<!DOCTYPE html>
<html>

<head>
  <title>{{ store.name }} &mdash; {{ page.name }}</title>

  <meta charset="utf-8">
  <meta name="description" content="{{ page.meta_description }}">
  <meta name="keywords" content="{{ page.meta_keywords }}">

  <link href="{{ theme | theme_css_url }}" media="screen" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
    integrity="sha512-+EoPw+Fiwh6eSeRK7zwIKG2MA8i3rV/DGa3tdttQGgWyatG/SkncT53KHQaS5Jh9MNOT3dmFL0FjTY08And/Cw=="
    crossorigin="anonymous" />


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"
    integrity="sha512-IsNh5E3eYy3tr/JiX2Yx4vsCujtkhwl7SLqgnwLNgf04Hrt9BT9SXlLlZlWx+OK4ndzAoALhsMNcCmkggjZB1w=="
    crossorigin="anonymous"></script>

  <script src="{{ theme | theme_js_url }}" type="text/javascript"></script>
  <script src="https://kit.fontawesome.com/d4eab0a8e6.js" crossorigin="anonymous"></script>


  {{ head_content }}
</head>

<body id="{{ page.permalink }}" class="{{ page.category }}">

  {% if errors != blank %}
  <ul class="unstyled errors">
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  {% if page.category == 'custom' %}
  {{ page_content | paragraphs }}
  {% else %}
  {{ page_content }}
  {% endif %}




  <script>

    let defaultCursor = document.querySelector(".cursor");
    let shopImage = document.querySelectorAll(".container .item");

    window.addEventListener("mousemove", cursor);

    function cursor(e) {
      defaultCursor.style.top = e.pageY + "px";
      defaultCursor.style.left = e.pageX + "px";
    }

    shopImage.forEach((item) => {
      item.addEventListener("mouseleave", () => {
        defaultCursor.classList.remove("grow-cursor");
        item.classList.remove("grow-image");
      });
      item.addEventListener("mouseover", () => {
        defaultCursor.classList.add("grow-cursor");
        item.classList.add("grow-image");
      });
    });


  $('body').css('display', 'none');
  $('body').fadeToggle(2000);
  </script>
</body>

</html>