<div class="cursor"></div>


<header>
  <div class="title-left">
    <h1>
      <a href="/products" title="{{ store.name | escape }}">
        Memory Card<span>(QCK)</span>/1 <br>
        733 KB free
      </a>
    </h1>
  </div>

  <div class="title-right">
    <h1>
      <a href="/cart" class="ajax-popup-link">
        Your System <br>
        Configuration ({{ cart.total | money_with_sign }})
      </a>
      </span>
    </h1>
  </div>
</header>

{% paginate products from products.current by theme.products_per_page %}
{% if products != blank %}
<div class="container">
  <ul>
    {% for product in products %}
    <li class="{{ product.css_class }} item">
      <a href="{{ product.url }}" class="ajax-popup-link">
        <img alt="Image of {{ product.name | escape }}"
          src="{{ product.image | product_image_url size: theme.product_image_size }}">
      </a>
    </li>
  </ul>
  {% endfor %}

</div>


{% else %}
<p>No products found.</p>
{% endif %}
{% endpaginate %}


<div class="menu-wrap">
  <h1 id="btn">Options</h1>
  <div class="menu" id="menu">
    <div>
      <div>
        <i class="far fa-times-circle" id="close"></i>
        <ul>
          {% for page in pages.all %}
          <li id="custom-page">{{ page | link_to }}</li>
          {% endfor %}
          <li><a href="/contact" class='ajax-popup-link'>Contact</a></li>
          {% if store.website != blank %}
          <li><a href="{{ store.website }}">Back to Site</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript">
  $(document).ready(function () {

    $('#menu').hide();

    $('#btn').on('click', function () {
      $('#menu').show('slow');
      $(this).addClass('clicked');
      $(this).toggleClass('hover');
      $(this).fadeTo('slow', 0.1);
    })

    $('#close').on('click', function () {
      $('#menu').hide('slow');
      $('#btn').removeClass('clicked', 'slow');
    })

    $('a, i, #btn').hover(function () {
      $('.cursor').toggleClass("grow-cursor");
    })

    $('a, i').hover(function () {
      $(this).toggleClass('hover');
    })

    $('i').on('click', function () {
      $('#btn').fadeTo('slow', 1)
    })

    $('#custom-page a').addClass('ajax-popup-link');

    $('.ajax-popup-link').magnificPopup({
      type: 'ajax',
      key: 'product-popup',
      preloader: false,
      // mainClass: "myClass",
    });


  });
</script>